* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#311847), to(#3EB9E6));
  background-image: -webkit-linear-gradient(top, #311847, #3EB9E6);
  background-image: -moz-linear-gradient(top, #311847, #3EB9E6);
  background-image: linear-gradient(to bottom, #311847, #3EB9E6);
}

.location, .temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Abel', sans-serif;
  animation-name: introduction;
  animation-duration: 2s;
}

.temperature {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section span{
  margin: 10px;
  font-size: 30px;
}

.degree-section h2{
  font-size: 40px;
}